body,html {
    font-size: 14px;
    width: 100%;
 /*   position: relative;
    z-index: 0;*/
}







/***********************************************************************
 *  logo
 **********************************************************************/
.logo {
    margin-right: auto;
    margin-left: 30px;
}

/***********************************************************************
 *  background coloring
 **********************************************************************/
nav div a {
    text-decoration: none;
    color: white;
}

.hover-effect:hover {
    text-decoration: underline;
    color: white;
   
    
}



.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: hsl(217, 28%, 15%);
}
.nav-font {
    font-size: 14px;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(28,36,49,1) 50%, rgba(24,31,42,1) 50%);
    
}

.dimension {
    height: 100%;
    width: 100%;
    max-width: 720px;
}

.intro-header {
    font-size: 4em;
    font-weight: 700;
    font-family: Raleway;
}

.header-box {
    max-width: 800px;
    margin-bottom: 40px;
}

.intro-body {
    font-size: 20px;
    text-align: center;
    font-weight: 350;
    font-family: Open Sans;
    
    
}
.intro-box {
    max-width: 590px;
    margin-bottom: 30px;

}

.button {
    width: 280px;
    height: 60px;
    border-radius: 300px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(198, 60%, 50%);
    margin-bottom: 200px;
}
.button:hover {
    background-color: hsl(176, 68%, 64%);
    color: hsl(0, 0%, 100%);
}

.font {
    font-family: Raleway;
    font-weight: 700;
}

.wave-svg {
    
    width: 100%;
    background: url(./images/bg-curvy-desktop.svg) no-repeat center center/cover;
}

@media only screen and (max-width: 375px) {
   .wave-svg {
        width: 100%;
        background: url(./images/bg-curvy-mobile.svg) no-repeat center center/cover;
   } 
   .gs-background {
        background-color: hsl(218, 28%, 13%);

   }
   .flex-wrapper {
        background: linear-gradient(180deg, rgba(28,36,49,1) 16%, rgba(24,31,42,1) 16%);
   }
}


.buffer {
    height: 100px;
}
.zone {
    padding: 40px;
}


.features-margins {
    margin-right: 12%;
    margin-left: 12%;
}
@media only screen and (max-width: 375px) {

/***********************centerin the grid area for phone screen*************************************************************/
    .features-margins {
        margin-right: 0px;
        margin-left: 0px;
    }
    /***********************positioning d-img*************************************************************/    
 

/***********************sign-up box layout*************************************************************/    



}

.grid-area {
    width: 100%;
    background-color: hsl(218, 28%, 13%);;
}
.grid-wrapper {
    display: grid;
    gap: 50px 50px;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    
    max-width: 75%;
    margin-bottom: 100px;
}
.img-area {
    padding: 1rem;
}

}

.grid-zone {
    
  width: 100%;


}

.description-box {
    display: grid;
    gap: 30px 10px;
    justify-items: center;
    grid-template-columns:repeat(auto-fill, minmax(520px,1fr));
    max-width: 90%;
    margin-bottom: 300px;
    margin-left: auto;
    margin-right: auto;

}
li > a {
    color: hsl(176, 68%, 64%);
    text-underline-offset: 0.3em;
}
li > a:hover {
    color: white;
    text-underline-offset: 0.3em;
}
.centered {
    align-self: center;
    text-align: left;
   
   

} 
.d-list {
    list-style: none;
}
.description-body-font {
    font-family: Open Sans;
    font-weight: 200;
    font-size: 17px;
    padding-right: 20%;
    margin: 0px 0px 20px 0px;

}
.description-header-font {
    font-family: Raleway;
    font-weight: 700;
    font-size: 3rem;
    padding-right: 35%;
    margin: 20px 0px 20px 0px;
}

@media only screen and (max-width: 375px) {
    .img-align {
        justify-self: start;
    }
    .d-img {
        max-width: 300px;
        
    }

    
}
/***********************************************************************
 *  testimonials
 **********************************************************************/
/*desktop**************************************************************/
@media only screen and (min-width: 940px) {
    .testimonials-grid {
    background-color: hsl(218, 28%, 13%);
    display: grid;
    gap:  30px;
    grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));
    /*grid-template-rows:1fr 1fr 1fr;*/
    max-width: 80%;
    margin-bottom: 100px;

    }  
}

/*small-desktop********************************************/
@media only screen and (max-width: 940px) {
    .testimonials-grid {
    background-color: hsl(218, 28%, 13%);
    display: grid;
    gap:  30px;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr;
    max-width: 70%;
    margin-bottom: 100px;
   /* position: relative;
    z-index: 1;*/

    }  
}

.t-box {
    
    background-color: hsl(219, 30%, 18%);
    font-family: Open Sans;
    font-size: 12px;
    border-radius: 5px;
    padding: 50px 25px 50px 25px;
    text-align: left;
}
.info {
    text-align: left;
    font-size: 8px;
}

.name {
    /*font-family: Raleway;*/
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 2px;
}
.profile {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 8px;
    padding-top: 2px;
}

.layer {
    background-color: hsl(219, 30%, 18%);
    padding: 50px 0px 0px 25px;
    text-align: left;
    /*position: absolute;*/
    z-index: 2;
    border-radius: 5px;
    margin-right: 25px;

}
.q-img-box {
    transform: translate(-5px, -35px);
    z-index: 1;
}

/***********************************************************************
 *  sign up
 **********************************************************************/


.su-background{
    background: linear-gradient(180deg, rgba(24,31,42,1) 50%, rgba(11,21,35,1) 50%);
}
.sign-up-box {
    background-color: hsl(217, 28%, 15%);
    max-width: 60%;
    /*max-width: 800px;*/
    /*padding: 40px 80px 40px 80px;*/
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 200px;
    /*margin-bottom: 100px;*/
    border-radius: 5px;
    box-shadow: 5px 4px #1f2126;
   
}


.su-header {
    font-family: Raleway;
    font-weight: 700;
}
.su-body {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 200;
    padding-right: 14%;
    padding-left: 14%;
}
.input-area {

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    width: 85%;
    margin-top: 40px;
   
}
.E-mail {
    /*display: inline;*/
    height: 60px;
    width: 100%;
    font-family: Open Sans;
    font-size: 17px;
    padding-left: 20px;
    border-radius: 50px;
    /*justify-self: center;*/
   /* margin-right: 15px;*/

}
::placeholder {
    font-family: Open Sans;
    opacity: 50%;
    font-size: 14px;
    padding-left: 35px;
}

.signup-button {
    /*display: inline;*/
    height: 60px;
    width: 100%;
    /*width: 415px;*/
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(198, 60%, 50%);
    /*justify-self: center;*/
    /*padding: 0px;
    margin-right: 15px;*/
}
.signup-button:hover {
    background-color: hsl(176, 68%, 64%);
    color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 820px) {
  .signup-button {
    font-size: 9px;
}
::placeholder {
    font-family: Open Sans;
    opacity: 50%;
    font-size: 11px;
    padding-left: 15px;
}
}

@media only screen and (max-width: 375px) {
    .sign-up-box {
        max-width: 90%;
    }    
    .input-area {
        grid-template-columns: 1fr;
    }

    /*button font size*/
    .signup-button {
        font-size: 17px;
    }
}

/***********************************************************************
 *  background coloring
 **********************************************************************/
.intro-color {
    background-color: hsl(218, 28%, 13%);
   /* position: relative;
    z-index: 0;*/
}



/***********************************************************************
 *  text style
 **********************************************************************/
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: white;


}
.heading-font {
    font-family: Raleway;
    font-weight: 700;
    font-size: 17px;
    
}

.body-font {
    font-family: Open Sans;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 5px;
}

.padding {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.buffer {
    height: 100px;
    background-color: hsl(216, 53%, 9%);
}

/***********************************************************************
 * contacts
 **********************************************************************/

 .contacts-background {
    background-color: hsl(216, 53%, 9%);
 }
 .contacts {
   width: 91%;
 }
.b-padding-50 {
    padding-bottom: 60px;
}
.r-marging-20 {
    margin-right: 10px;
}
.footer-font {
    font-family: Open Sans;
    font-size: 14px;
}
.f-list {
    list-style: none;
    padding-left: 0;
}
.f-list li {
    padding-bottom: 20px ;
}

table{   
    width: 100%;
}
.lists {
    display: none;
}

@media only screen and (max-width: 375px) {
    table {
        display: none;
    }

    .list-spacing {
        padding-bottom: 30PX;
    }

    .lists {
        display: block;
    }

}

/*.l-i-area {
     height: 100%;
     width: 20px;
}*/
.location-icon {
   /* height: 100%;*/
    /*float: left;*/
}

.icon-border {
    border-radius: 1500px;
    /*padding:  3px 8px;*/
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: white;
}
.icon-border:hover {
    color: hsl(176, 68%, 64%);;
    border-color: hsl(176, 68%, 64%);
    cursor: pointer;
}
.icon-list {
    /*display: inline;*/
    list-style: none;
    
}
.l-item{
    float: left;
    margin-right: 10px;
}

table td a {
   text-decoration: none;
   color: white;
} 

table td a:hover {
    font-weight: 700;
    color: white;

} 
.f-list li a {
    text-decoration: none;
    color: white;   
}
.f-list li a:hover {
    font-weight: 700;
    color: white;

}

/***********************************************************************
 *  footer
 **********************************************************************/
footer {
    background-color: hsl(216, 53%, 9%);
}


